<!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Student 테이블을 위한 query mapper -->
<mapper namespace="student">


	<!-- 모든 학생을 다 불러오기 -->
	<select id="listAllStudent" resultType="HashMap">
		SELECT STU_NUMBER,STU_NAME,STU_BIRTHDAY,STU_PHONE,STU_EMAIL,STU_PASSWORD,STU_ENTERANCE,STU_AUTHORITY,STU_GENDER
        ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuEnterance' AND COMMON_CODE = S.STU_ENTERANCE) as STU_ENTERANCE_VALUE
        ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuAuthority' AND COMMON_CODE = S.STU_AUTHORITY) as STU_AUTHORITY_VALUE
        ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuGender' AND COMMON_CODE = S.STU_GENDER) as STU_GENDER_VALUE
    	FROM STUDENT S
    	WHERE S.STU_DELETE_YN = 'N'
	</select>
	
	
	<!-- 특정 키워드 검색에 따른 학생 불러오기 -->
	<select id="searchKeywordStudent" resultType="HashMap" parameterType="HashMap">
		 SELECT S.STU_NUMBER,S.STU_NAME,S.STU_BIRTHDAY,S.STU_PHONE,S.STU_EMAIL,S.STU_PASSWORD,S.STU_ENTERANCE,S.STU_GENDER,S.STU_AUTHORITY,F.FEE_PAID_DATE, F.FEE_TOTAL_AMOUNT, F.FEE_PAID_AMOUNT, F.FEE_PAID_METHOD, F.FEE_PAID_STATUS
	     ,DECODE(F.FEE_CONTENT,NULL,'없음',F.FEE_CONTENT) as FEE_CONTENT_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'feePaidMethod' AND COMMON_CODE = F.FEE_PAID_METHOD) as FEE_PAID_METHOD_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'feePaidStatus' AND COMMON_CODE = F.FEE_PAID_STATUS) as FEE_PAID_STATUS_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuEnterance' AND COMMON_CODE = S.STU_ENTERANCE) as STU_ENTERANCE_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuGender' AND COMMON_CODE = S.STU_GENDER) as STU_GENDER_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuAuthority' AND COMMON_CODE = S.STU_AUTHORITY) as STU_AUTHORITY_VALUE
	     FROM STUDENT S, STUDENT_FEE F
	     WHERE (S.STU_NUMBER = F.STU_NUMBER)
	     AND S.STU_DELETE_YN = 'N'

	    <choose>
			<when test="searchCategory == 'STU_NAME'">
				AND S.STU_NAME = #{searchContent}	
			</when>
			<when test="searchCategory == 'STU_NUMBER'">
				AND S.STU_NUMBER = #{searchContent}	
			</when>
			<when test="searchCategory == 'STU_PHONE'">
				AND S.STU_PHONE = #{searchContent}	
			</when>
			<when test="searchCategory == 'STU_EMAIL'">
				AND S.STU_EMAIL = #{searchContent}	
			</when>
	    </choose>
	   
	</select>
	
	<!-- 검색 범위에 따른 학생 불러오기 -->
	<select id="searchScopeStudent" resultType="HashMap" parameterType="HashMap">
		 SELECT S.STU_NUMBER,S.STU_NAME,S.STU_BIRTHDAY,S.STU_PHONE,S.STU_EMAIL,S.STU_PASSWORD,S.STU_ENTERANCE,S.STU_GENDER,S.STU_AUTHORITY,F.FEE_PAID_DATE, F.FEE_TOTAL_AMOUNT, F.FEE_PAID_AMOUNT, F.FEE_PAID_METHOD, F.FEE_PAID_STATUS
	     ,DECODE(F.FEE_CONTENT,NULL,'없음',F.FEE_CONTENT) as FEE_CONTENT_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'feePaidMethod' AND COMMON_CODE = F.FEE_PAID_METHOD) as FEE_PAID_METHOD_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'feePaidStatus' AND COMMON_CODE = F.FEE_PAID_STATUS) as FEE_PAID_STATUS_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuEnterance' AND COMMON_CODE = S.STU_ENTERANCE) as STU_ENTERANCE_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuGender' AND COMMON_CODE = S.STU_GENDER) as STU_GENDER_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuAuthority' AND COMMON_CODE = S.STU_AUTHORITY) as STU_AUTHORITY_VALUE
	     FROM STUDENT S, STUDENT_FEE F
	     WHERE (S.STU_NUMBER = F.STU_NUMBER)
	     AND S.STU_DELETE_YN = 'N'
	     
			<if test="stuNumber != 'null'">
				AND S.STU_NUMBER LIKE #{stuNumber}
			</if>
			<if test="stuGender != 'null'">
				AND S.STU_GENDER = #{stuGender}	
			</if>
			<if test="stuEnterance != 'null'">
				AND S.STU_ENTERANCE = #{stuEnterance}	
			</if>
			<if test="stuAuthority != 'null'">
				AND S.STU_AUTHORITY = #{stuAuthority}	
			</if>
	   
	</select>
	
	
	
	<!-- 한 학생 개인 정보 불러오기 -->
	<select id="getStudent" resultType="HashMap" parameterType="HashMap">
		 SELECT S.STU_NUMBER,S.STU_NAME,S.STU_BIRTHDAY,S.STU_PHONE,S.STU_EMAIL,S.STU_PASSWORD,S.STU_ENTERANCE,S.STU_GENDER,S.STU_AUTHORITY,F.FEE_PAID_DATE, F.FEE_TOTAL_AMOUNT, F.FEE_PAID_AMOUNT, F.FEE_PAID_METHOD, F.FEE_PAID_STATUS, E.EXP_YEAR, E.EXP_SEMESTER, E.EXP_CONTENT
	     ,DECODE(F.FEE_CONTENT,NULL,'없음',F.FEE_CONTENT) as FEE_CONTENT_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'feePaidMethod' AND COMMON_CODE = F.FEE_PAID_METHOD) as FEE_PAID_METHOD_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'feePaidStatus' AND COMMON_CODE = F.FEE_PAID_STATUS) as FEE_PAID_STATUS_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuEnterance' AND COMMON_CODE = S.STU_ENTERANCE) as STU_ENTERANCE_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuGender' AND COMMON_CODE = S.STU_GENDER) as STU_GENDER_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'stuAuthority' AND COMMON_CODE = S.STU_AUTHORITY) as STU_AUTHORITY_VALUE
	     ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'expSemester' AND COMMON_CODE = E.EXP_SEMESTER) as EXP_SEMESTER_VALUE
	     FROM STUDENT S, STUDENT_FEE F, EXPERIENCE E
	     WHERE (S.STU_NUMBER = F.STU_NUMBER)
	     AND (S.STU_NUMBER = E.STU_NUMBER)
	     AND S.STU_DELETE_YN = 'N'
	     AND S.STU_NUMBER = #{stuNumber}	
	     ORDER BY E.EXP_YEAR,E.EXP_SEMESTER ASC
	   
	</select>
</mapper>