  <!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Scheduler 테이블을 위한 query mapper -->
<mapper namespace="scheduler">

	<!-- ====================================================================================================================== -->
	<!-- ========================================  READ   QUERY   ============================================================= -->
	<!-- ====================================================================================================================== -->
	

	<!-- 모든 스케쥴들을 다 불러오기 -->
	<select id="listAllScheduler" resultType="HashMap">
		SELECT SCHE_ID,SCHE_CONTENT,SCHE_STARTDATE,SCHE_ENDDATE
		FROM SCHEDULER
	</select>
	
	
	<!-- ====================================================================================================================== -->
	<!-- ========================================  INSERT   QUERY   =========================================================== -->
	<!-- ====================================================================================================================== -->
	
	<!-- 스케줄 추가하기 -->
	<insert id="insertScheduler" parameterType="HashMap">
		INSERT 
    		INTO SCHEDULER(
           		 SCHE_ID
            	,SCHE_CONTENT
            	,SCHE_STARTDATE
            	,SCHE_ENDDATE
    		) 
    		VALUES (
        		#{scheId}
        		,#{scheContent}
        		,#{scheStartdate}
        		,#{scheEnddate}
    		)
	</insert>
	
	<!-- ====================================================================================================================== -->
	<!-- ========================================  UPDATE QUERY   ============================================================= -->
	<!-- ====================================================================================================================== -->
	
	<!-- 스케줄 수정하기 -->
	<update id="updateScheduler" parameterType="HashMap" >
		
		 UPDATE SCHEDULER
		     SET 
		        SCHE_CONTENT 	= #{scheContent}
		     WHERE 
		    	 SCHE_ID = #{scheId}
	</update>
	
	<!-- ====================================================================================================================== -->
	<!-- ======================================== DELETE  QUERY   ============================================================= -->
	<!-- ====================================================================================================================== -->

	
	<!-- 스케줄 삭제하기 -->
	<delete id="deleteScheduler" parameterType="HashMap">
		
		DELETE 
			FROM SCHEDULER
			WHERE 
				SCHE_ID = #{scheId}
		
	</delete>
	
</mapper>