<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultExecutorType" value="SIMPLE" /> <!-- 배치 처리 -->
	</settings>
	
	<typeAliases>
		<typeAlias alias="String" type="java.lang.String" />
		<typeAlias alias="Integer" type="java.lang.Integer" />
		<typeAlias alias="HashMap" type="java.util.HashMap"/>		
		<typeAlias alias="List" type="java.util.List"/>		
	</typeAliases>
<!-- 
	<plugins>
		<plugin interceptor="com.example.spring.common.MybatisLogInterceptor"></plugin>
	</plugins>
 -->	
	<mappers>
		<!-- common code 를 위한 쿼리 -->
		<mapper resource="com/project/manager/ccode/commonMapper.xml"/>
		<!-- 관리자용 '학생기본' 정보를 위한 쿼리 -->
		<mapper resource="com/project/manager/admin/student/studentMapper.xml"/>
		<!-- 관리자용 '학생회비' 정보를 위한 쿼리 -->
		<mapper resource="com/project/manager/admin/fee/feeMapper.xml"/>
		<!-- 유저용 '유저기본' 정보를 위한 쿼리 -->
		<mapper resource="com/project/manager/user/userInfo/userInfoMapper.xml"/>
		<!-- 장부 정보를 위한 쿼리 -->
		<mapper resource="com/project/manager/ledger/ledgerMapper.xml"/>
		<!-- 관리자용 스케쥴러 위한 쿼리 -->
		<mapper resource="com/project/manager/admin/scheduler/schedulerMapper.xml"/>
			
	</mappers>
	
		
</configuration>