<!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 장부 정보들을 불러오기 위한 매퍼. -->
<mapper namespace="ledger">
	<!-- 장부 분류정보들을 불러오기 위한 쿼리-->
	<select id="listLedgerCate" resultType="HashMap">
		select * from ledger_cate
	</select>
	
	<!-- 월별 잔액을 불러오는 쿼리 -->
	<!-- TODO : 날짜 처리 인풋할때 확실히 고쳐주자 -->
	<select id="getLastMonthBalance" resultType="HashMap">
		SELECT LEDG_MONTH_BALANCE FROM LEDGER_MONTHLY WHERE LEDG_MONTH_DATE = #{lastMonth}
	</select>
	
	<!-- 들어온 thisMonth에 해당하는 달의 거래 내역을 뽑아온다. -->
	<select id="listThisMonthLedger" resultType="HashMap">
		SELECT 
		    LEDG_INPUT_DATE
		    ,LEDG_TRADE_DATE
		    ,LEDG_TRADE_PARTNER
		    ,LEDG_CONTENT
		    ,LEDG_TRADE_TYPE
		    ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'ledgTradeType' AND COMMON_CODE = L.LEDG_TRADE_TYPE) as LEDG_TRADE_TYPE_VALUE
		    ,LEDG_METHOD
		    ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'ledgMethod' AND COMMON_CODE = L.LEDG_METHOD) as LEDG_METHOD_VALUE
		    ,LEDG_CATEGORY
		    ,(SELECT LEDG_CATE_NAME FROM LEDGER_CATE WHERE LEDG_CATE_CODE = L.LEDG_CATEGORY) as LEDG_CATEGORY_VALUE
		    ,LEDG_REMARK
		    ,LEDG_AMOUNT
		    ,LEDG_FILE
		FROM LEDGER L
		WHERE LEDG_TRADE_DATE LIKE #{thisMonth}||'%'
		ORDER BY LEDG_TRADE_DATE ASC
	</select>
	<!-- =============================  insert query  ================================= -->
	<insert id="insertLedger" parameterType="HashMap">
		INSERT INTO LEDGER VALUES( 
			to_char(SYSDATE, 'yyyymmddhh24miss')
			,#{ledgDate}
			,#{ledgContent}
			,#{ledgTradeType}
			,#{ledgTradePartner}
			,#{ledgMethod}
			,#{ledgCategory}
			,#{ledgAmount}
			,#{ledgRemark}
			,NULL <!-- file 처리 해주자.. -->
		)	
		
	</insert>

</mapper>