<!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 장부 정보들을 불러오기 위한 매퍼. -->
<mapper namespace="ledger">
	<!-- 장부 분류정보들을 불러오기 위한 쿼리-->
	<select id="listLedgerCate" resultType="HashMap">
		SELECT * FROM LEDGER_CATE
	</select>
	
	
	<!-- 가장 마지막 월의 정산금과 정산일을 출력한다.  TODO: max()사용으로 고치기 -->
	<select id="getLatestMonthBalance" resultType="HashMap">
		SELECT  
			LEDG_MONTH_DATE
			,LEDG_MONTH_BALANCE
		FROM 
			(SELECT LEDG_MONTH_DATE
                    ,LEDG_MONTH_BALANCE
            FROM LEDGER_MONTHLY
            ORDER BY LEDG_MONTH_DATE DESC
            )
		WHERE
			ROWNUM=1	
	</select>
	
	<!-- 월별 잔액을 불러오는 쿼리 -->
	<select id="getLastMonthBalance" resultType="HashMap">
		SELECT LEDG_MONTH_BALANCE FROM LEDGER_MONTHLY WHERE LEDG_MONTH_DATE = #{lastMonth}
	</select>
	<!-- 들어온 thisMonth에 해당하는 달의 거래 내역을 뽑아온다. -->
	<select id="listThisMonthLedger" resultType="HashMap">
		SELECT 
		    LEDG_INPUT_DATE
		    ,LEDG_TRADE_DATE
		    ,LEDG_TRADE_PARTNER
		    ,LEDG_CONTENT
		    ,LEDG_TRADE_TYPE
		    ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'ledgTradeType' AND COMMON_CODE = L.LEDG_TRADE_TYPE) as LEDG_TRADE_TYPE_VALUE
		    ,LEDG_METHOD
		    ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'ledgMethod' AND COMMON_CODE = L.LEDG_METHOD) as LEDG_METHOD_VALUE
		    ,LEDG_CATEGORY
		    ,(SELECT LEDG_CATE_NAME FROM LEDGER_CATE WHERE LEDG_CATE_CODE = L.LEDG_CATEGORY) as LEDG_CATEGORY_VALUE
		    ,LEDG_REMARK
		    ,LEDG_AMOUNT
		    ,LEDG_FILE
		FROM LEDGER L
		WHERE LEDG_TRADE_DATE LIKE #{thisMonth}||'%'
		ORDER BY LEDG_TRADE_DATE ASC
	</select>
	
	<select id="listMultiMonthLedger" resultType="HashMap">
		SELECT 
			    LEDG_INPUT_DATE
			    ,LEDG_TRADE_DATE
			    ,LEDG_TRADE_PARTNER
			    ,LEDG_CONTENT
			    ,LEDG_TRADE_TYPE
			    ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'ledgTradeType' AND COMMON_CODE = L.LEDG_TRADE_TYPE) as LEDG_TRADE_TYPE_VALUE
			    ,LEDG_METHOD
			    ,(SELECT COMMON_VALUE FROM COMMON WHERE COMMON_CATEGORY = 'ledgMethod' AND COMMON_CODE = L.LEDG_METHOD) as LEDG_METHOD_VALUE
			    ,LEDG_CATEGORY
			    ,(SELECT LEDG_CATE_NAME FROM LEDGER_CATE WHERE LEDG_CATE_CODE = L.LEDG_CATEGORY) as LEDG_CATEGORY_VALUE
			    ,LEDG_REMARK
			    ,LEDG_AMOUNT
			    ,LEDG_FILE
			FROM LEDGER L
			WHERE 
	        	<foreach collection="keywordList" item="type" index="index"  open="(" close=")" separator="or">
          			LEDG_TRADE_DATE LIKE #{type}||'%'
	        	</foreach>
			ORDER BY LEDG_TRADE_DATE ASC
	</select>
	
	
	
	<!-- =============================  insert query  ================================= -->
	<insert id="insertLedger" parameterType="HashMap">
		INSERT INTO LEDGER(
			LEDG_INPUT_DATE
     		,LEDG_TRADE_DATE
    		,LEDG_CONTENT
    		,LEDG_TRADE_TYPE
    		,LEDG_TRADE_PARTNER
    		,LEDG_METHOD
    		,LEDG_CATEGORY
    		,LEDG_REMARK
    		,LEDG_AMOUNT
    		,LEDG_FILE
		) VALUES( 
			to_char(SYSDATE, 'yyyymmddhh24miss')
			,#{ledgDate}
			,#{ledgContent}
			,#{ledgTradeType}
			,#{ledgTradePartner}
			,#{ledgMethod}
			,#{ledgCategory}
			,#{ledgRemark}
			,#{ledgAmount}
			,NULL <!-- file 처리 해주자.. -->
		)	
	</insert>

	<insert id="insertLedgerMonthly" parameterType="HashMap">
		INSERT INTO LEDGER_MONTHLY(
			LEDG_MONTH_DATE
			,LEDG_MONTH_BALANCE
		) VALUES( 
			#{ledgMonthDate}
			,#{ledgMonthBalance}
		)
	</insert>

</mapper>