<!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 장부 정보들을 불러오기 위한 매퍼. -->
<mapper namespace="ledger">
	<!-- 장부 분류정보들을 불러오기 위한 쿼리-->
	<select id="listLedgerCate" resultType="HashMap">
		select * from ledger_cate
	</select>
	
	<!-- 월별 잔액을 불러오는 쿼리 -->
	<!-- TODO : 날짜 처리 인풋할때 확실히 고쳐주자 -->
	<select id="getLastMonthBalance" resultType="HashMap">
		SELECT LEDG_MONTH_BALANCE FROM LEDGER_MONTHLY WHERE LEDG_MONTH_DATE = #{lastMonth}
	</select>
	
	<!-- 렛저를 3개만 뽑아오는 쿼리. -->
	<select id="listThisMonthLedger" resultType="HashMap">
		SELECT * 
		FROM ledger
		WHERE LEDG_TRADE_DATE LIKE #{thisMonth}||'%'
		order by LEDG_TRADE_DATE ASC
	</select>

</mapper>